/* 清默认边距 */
* {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  color: white;
  text-align: center;
  background-color: #72cadd;
  font-size: 1.6rem;
}
header > p {
  display: inline-block;
}
header span {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  background-color: #f17474;
  margin-top: 0.8rem;
}
header > span:nth-of-type(1) {
  float: left;
  margin-left: 1rem;
  background: url(../image/icon_arr_back.png) no-repeat;
  background-size: contain;
}
header > span:nth-of-type(2) {
  float: right;
  margin-right: 1rem;
  background: url(../image/icon_arr_more.png) no-repeat;
  background-size: contain;
  margin-top: 1rem;
}
/* 定义边框函数 */
main .time {
  width: 100%;
  height: 3.5rem;
  background-color: #f2f2f2;
  line-height: 3.5rem;
  font-size: 1.3rem;
  color: #505050;
  border-bottom: 2px solid #b6b2b2;
  text-indent: 1rem;
}
main dl {
  width: 97%;
  border-bottom: 1px solid #e2dfdf;
  margin: 0 auto;
  height: 3rem;
  line-height: 3rem;
  color: gray;
}
main dl dt {
  width: 35%;
  float: left;
}
main dl dd {
  width: 65%;
  float: left;
}
main .work {
  height: 6rem;
}
