
* {
    margin:0;
    padding:0;
    border:0;
    outline:none;
    vertical-align:baseline;
}
html, body {
    background: #eee;
    font-size: 10px;
}
em{
    font-style: normal;
}
img {
    border: none;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

/*head部分*/
.loadnav {
    width: 100%;
    height: 4rem;
    background: #e6071b;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}
.qBack {
    position: absolute;
    left: 0;
    top: 0;
    width: 4rem;
    height: 4rem;
    background: url(../images/back.png) no-repeat center;
    background-size: 80% 80%;
}

/*头部的切换*/
.loadnav span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40%;
    height: 2rem;
    line-height: 2rem;
    border-radius: 3px;
    margin: -1rem 0 0 -20%;
    overflow: hidden;
}
.loadnav span a {
    width: 50%;
    height: 100%;
    line-height: 2rem;
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    float: left;
}
.loadnav .chooseOn {
    background: #fff;
    color: #e6071b;
}
/*comCollection.css*/
.loadnav span {
    border: 1px solid #fff;
}
.qHome {
    position: absolute;
    right: 0;
    top: 0;
    width: 7rem;
    line-height: 4rem;
    text-align: center;
    height: 100%;
    font-size: 1.3rem;
    color: #fff;
    background: none;
}
.comList {
    width: 100%;
    background: #fff;
    padding: 4rem 1rem 0;
    box-sizing: border-box;
}
.comList li {
    padding: 1rem 0;
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #d8d8d8;
}
.comList li:last-child {
    border: none 0;
}
.possiImg {
    position: relative;
}
.possiImg img {
    position: absolute;
}
.sheLves,.soldOut {
    width: 4.5rem;
    height: 4.5rem;
    left: 0.75rem;
    top: 0.75rem;
    z-index: 3;
}
.comPng {
    width: 6rem;
    height: 6rem;
    display: inline-block;
    border: none 0;
}
.comName p {
    line-height: 1.8rem;
    font-size: 1.4rem;
    color: #333;
    /*控制文字为两行*/
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
}
.comName {
    padding-left: 7rem;
    -moz-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.comPayfor {
    line-height: 2.5rem;
    font-size: 1.2rem;
    color: #e6071b;
    overflow: hidden;
}
.comPayfor em {
    font-size: 1.8rem;
    color: #e6071b;
}
.comPayfor span {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    color: #888;
    text-decoration:line-through;
}
.leightUs {
    height: 2rem;
    line-height: 2rem;
    margin: 0.4rem 0;
    padding:  0 0.25rem;
    font-size: 1.2rem;
    color: #888;
}
.leightUs{
    float: right;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
}

.sheLvesto {
    float:left;
}
.sheLvesto em.noPro {
    color: #666;
}
.sheLvesto em.noPro {
    color: #666;
}
.sheLvesto i {
    font-size: 1.2rem;
    font-style: normal;
}
.sheLvesto i.noPro {
    color: #666;
}