* {
    margin: 0;
    padding: 0;
    font-family: "Œ¢»Ì—≈∫⁄", 'Microsoft Yahei', 'HelveticaNeue', sans-serif;
}

body {
    background-color: #f2f2f2;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    font-size: 12px;
}

/*header */
.header {
    position: relative;
    line-height: 2.5em;
    text-align: center;
    font-size: 1.2em;
    color: #222;
    background: #f8f8f8;
    border-bottom: #e2e2e2 solid 1px;
}

.header .back {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5em;
    height: 2.5em;
    font-size: 1em;
    background: url(../image/icon_back.png) center no-repeat;
    background-size: auto 45%;
}

.header p.blue_s {
    text-indent: 40px;
    text-align: left;
    color: #0077ff;
}

/* app”¶”√-œÍ«È*/
.xqBox {
    clear: both;
    width: 100%;
    height: auto;
    background: #fff;
    margin-bottom: 3.5em;
}

.xqBox dl {
    border-bottom: #e2e2e2 solid 1px;
    padding: 15px 0;
}

.xqBox dl:last-child {
    border-bottom: 0;
}

.xqBox dl:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    font-size: 12px;
}

.xqBox dt {
    float: left;
    width: 26%;
    font-size: 1em;
    text-align: center;
    color: #999;
}

.xqBox dt.tit04 {
    width: 94%;
    padding: 0 3%;
    font-size: 1em;
    line-height: 1.6em;
    height: 2.3em;
    text-align: left;
    color: #222;
}

.xqBox dt.logo02 {
    width: 70px;
    height: 70px;
    background: url(../image/logo01.png) center no-repeat;
    background-size: auto 100%;
    margin: 0 0.8em;
}

.xqBox dt.btn01 {
    float: right;
    width: 60px;
    height: 60px;
}

.xqBox dt.btn01 a {
    display: block;
    width: 50px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: #0078ff solid 1px;
    color: #0078ff;
    font-size: 0.8em;
    border-radius: 5px;
    margin-top: 40px;
}

.xqBox dd {
    float: left;
    width: 48%;
    height: auto;
    color: #666;
    line-height: 1.4em;
    font-size: 1em;
}

.xqBox dd h2 {
    width: 100%;
    height: auto;
    color: #666;
    line-height: 1.4em;
    font-size: 0.8em;
}

.xqBox dd.tit06 {
    width: 94%;
    padding: 0 3%;
    height: auto;
    color: #666;
    line-height: 1.6em;
    font-size: 0.8em;
}

/* footer */
footer {
    position: fixed;
    left: 0;
    bottom: -2px;
    width: 100%;
    z-index: 11;
    background: #f8f8f8;
    border-top: #ccc solid 1px;
    padding-top: 2px;
}

footer a {
    display: inline-block;
    width: 33.3%;
    padding-top: 25px;
    line-height: 2.4em;
    font-size: 10px;
    text-align: center;
    height: 2em;
}

.l2 {
    background: url(../image/btn_02.png) center 2px no-repeat;
    background-size: auto 55%;
    color: #999;
}

.l3 {
    background: url(../image/btn_03.png) center 2px no-repeat;
    background-size: auto 46%;
    color: #999;
}

.l1 {
    background: url(../image/btn_01-1.png) center 2px no-repeat;
    background-size: auto 55%;
    color: #0077ff;
}






